/* Importando Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* == VARIÁVEIS GLOBAIS == */

:root {
    --primary: #1E1E1E;
    --secondary: #F54266;
    --tertiary: #E1F2FE;
    --button: #94A3B8;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);

}

/* Impede o scroll da página com o menu aberto */
body.scroll-disable {
    overflow: hidden;
}

[id] {
    scroll-margin-top: 30px;
}

/* === HEADER === */
header {
    background: var(--primary);
    width: 100%;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* === MENU TOGGLE (Fechado) === */
.menu-toggle {
    background: none;
    border: none;
    color: var(--secondary);
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 300;
}

/* === MENU (Aberto) === */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100dvh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    transform: translateX(100%);
    transition: 0.4s ease;
    z-index: 200;
}

.menu.active {
    transform: translateX(0);
}

.menu a {
    font-family: var(--font-secondary);
    color: var(--secondary);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
    text-decoration: none;
}

/* header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

header nav a {
    font-family: var(--font-secondary);
    color: var(--secondary);
    font-weight: 600;
    padding: 1.2rem;
    font-size: 1rem;
} */


/* === SEÇÃO INTRO === */
.section-intro {
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}   

.intro-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.intro-titulo {
    font-family: var(--font-secondary);
    color: var(--tertiary);
    font-size: clamp(0.9rem, 4vw, 4rem);
    font-weight: 600;
}

.btn-cv {
    background-color: var(--button);
    color: var(--primary);
    font-family: var(--font-secondary);
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.8rem;
    font-size: 0.7rem;
    border-radius: 20px;
    font-weight: 600;
    transition: 0.2s ease;
    cursor: pointer;
    text-decoration: none;
}

.intro-imagem img {
    width: 100%;
    max-width: 90px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
    border: 1.5px solid #94A3B8;
}


/* === SEÇÃO SOBRE MIM === */
.section-sobre {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.sobre-titulo h2 {
    color: var(--secondary);
    font-family: var(--font-secondary);
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.sobre-descricao p {
    color: var(--tertiary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: clamp(0.8rem, 4vw, 1rem);
    line-height: 1.5;
}

.sobre-imagem img {
    width: 120px;
    aspect-ratio: 1;
    border-radius: 10px;
    object-fit: cover;
    object-position: center top;
    border: 1.5px solid #94A3B8;
}


/* === SEÇÃO TECNOLOGIAS === */
.section-tecnologias {
    padding: 3rem 1rem;
}

.cards-tecnologias {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.card {
    width: 100%;
    max-width: 300px;
    justify-self: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--secondary);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.card-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-titulo p {    
    font-family: var(--font-primary);
    color: var(--tertiary);
    font-size: clamp(0.8rem, 5vw, 1.1rem);
    font-weight: 600;
}

.card-titulo img {
    width: clamp(20px, 6vw, 25px);
}

.tecnologias-descricao {
    font-family: var(--font-primary);
    color: var(--tertiary);
    font-size: clamp(0.6rem, 3vw, 0.7rem);
    font-weight: 600;
    text-align: center;
}

.card .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.card .icons img {
    width: clamp(22px, 7vw, 27px);
}


/* === SEÇÃO PROJETOS === */
.section-projetos {
    padding: 2rem 1rem;
}

.projetos-titulo {
    font-family: var(--font-secondary);
    color: var(--tertiary);
    font-size: clamp(1rem, 4vw, 1.2rem);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.projetos-container {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
}

.categoria-card {
    width: clamp(140px, 38vw, 190px);
    aspect-ratio: 1;
    border-radius: 1rem;
    border: 3px solid var(--secondary);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
}

.categoria-footer {
    background-color: var(--secondary);
    padding: 1rem;
    z-index: 1;
}

.categoria-footer p {
    font-family: var(--font-primary);
    font-size: clamp(0.7rem, 3vw, 1rem);
    font-weight: 600;
    color: var(--primary);
}

.destaque-img {
    background-image: url();
}

.htmlcss-img {
    background-image: url();
}

.javascript-img {
    background-image: url();
}


/* === SEÇÃO CONTATO === */
.section-contato {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.contato-titulo {
    font-family: var(--font-secondary);
    color: var(--tertiary);
    font-size: clamp(1rem, 4vw, 1.2rem);
    font-weight: 600;
    text-align: center;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.card-contato {
    width: clamp(75px, 20vw, 90px);
    aspect-ratio: 1;
    background-color: var(--secondary);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.card-contato img {
    width: clamp(30px, 8vw, 35px);
}


/* === FOOTER === */
footer {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    gap: 1rem;
}

.linha {
    width: clamp(50px, 15vw, 70px);
    height: 2px;
    background-color: var(--secondary);
    border-radius: 5px;
}

footer small {
    font-family: var(--font-primary);
    color: var(--tertiary);
    text-align: center;
    font-weight: 600;
    font-size: clamp(0.5rem, 2.5vw, 0.7rem);
}