/* Importando Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* == VARIÁVEIS GLOBAIS == */

:root {
    --primary: #1E1E1E;
    --secondary: #F54266;
    --tertiary: #E1F2FE;
    --button: #94A3B8;

    /* FONTES */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
}

/* === HEADER === */
header {
    padding: 2rem;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

header nav ul li a {
    font-family: var(--font-secondary);
    padding: 0.5rem 2rem;
    color: var(--secondary);
    font-weight: 600;
    font-size: clamp(1rem, 5vw, 1.3rem);
    text-decoration: none;
}


/* === SEÇÃO INTRO === */
.intro {
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;       
}

.intro-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    max-width: 60%;
}

.intro-titulo {
    font-family: var(--font-secondary);
    font-size: clamp(1rem, 5vw, 1.3rem);
    font-weight: 600;
    color: var(--tertiary);
}

.btn-cv {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--button);
    color: var(--primary);
    font-family: var(--font-secondary);
    padding: 0.5rem 0.9rem;
    border-radius: 0.75rem;
    font-size: clamp(0.5rem, 3vw, 1rem);
    font-weight: 600;
    width: max-content;
}

/* Imagem */
.intro-imagem {
    width: auto;
    display: flex;
    justify-content: center;
}

.intro-imagem img {
    width: 22vw;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    border: 1.5px solid #424242;
}


/* === SEÇÃO SOBRE MIM === */
.sobre {
    padding: 1rem 2rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.sobre-textos {
    max-width: 600px;
}

.sobre-titulo p {
    color: var(--secondary);
    font-family: var(--font-secondary);
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-size: clamp(0.8rem, 4vw, 1.1rem);
}

.sobre-descricao p {
    color: var(--tertiary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: clamp(0.8rem, 4vw, 1rem);
    line-height: 1.5;
}

/* --- Imagem --- */
.sobre-imagem {
    width: clamp(100px, 30vw, 140px);
    max-width: 220px;  
    aspect-ratio: 1/1;
}

.imagem-hover {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.imagem-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: opacity .4s ease;
    box-shadow: 0 4px 14px rgba(0,0,0,0.3);
}

.foto-hover {
    opacity: 0;
}

.imagem-hover.ativa .foto-hover {
    opacity: 1;
}

.imagem-hover.ativa .foto-base {
    opacity: 0;
}


/* === SEÇÃO TECNOLOGIAS === */
.tecnologias {
    padding: 2rem 1.5rem;
}

.cards-tecnologias {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border: 2px solid var(--secondary);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.card-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-titulo p {
    font-family: var(--font-primary);
    color: var(--tertiary);
    font-size: clamp(0.8rem, 4vw, 1.3rem);
    font-weight: 600;
}

.tecnologias-descricao {
    font-family: var(--font-primary);
    color: var(--tertiary);
    font-size: clamp(0.7rem, 3vw, 0.9rem);
    font-weight: 600;
    text-align: center;
}

.card-titulo img {
    width: clamp(15px, 5vw, 30px);
}

.card .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.card .icons img {
    width: clamp(20px, 7vw, 35px);
    margin-bottom: 0.9rem;
}

/* === SEÇÃO PROJETOS === */
.projetos {
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projetos-titulo {
    font-family: var(--font-secondary);
    font-size: clamp(1rem, 5vw, 1.3rem);
    font-weight: 700;
    color: var(--tertiary);
    margin-bottom: 1rem;
    text-align: center;
}

.projetos-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.categoria-card {
    width: clamp(150px, 40vw, 220px);
    height: clamp(150px, 40vw, 220px);
    border-radius: 1rem;
    border: 3px solid var(--secondary);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
}

.categoria-imagem {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: left;
    filter: brightness(0.75);
}

.categoria-footer {
    background-color: var(--secondary);
    padding: 0.8rem;
    z-index: 1;
}

.categoria-footer p {
    font-family: var(--font-primary);
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary);
}

/* Imagem Card 1 */
.destaque-img {
    background-image: url();
}

/* Imagem Card 2 */
.htmlcss-img {
    background-image: url();
}

/* Imagem Card 3 */
.javascript-img {
    background-image: url();
}


/* === SEÇÃO CONTATO === */
.contato {
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato-titulo {
    font-family: var(--font-secondary);
    font-size: clamp(1rem, 5vw, 1.3rem);
    font-weight: 700;
    color: var(--tertiary);
    margin-bottom: 2rem;
    text-align: center;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
}

.card-contato {
    width: clamp(80px, 25vw, 150px);
    height: clamp(70px, 20vw, 100px);
    background-color: var(--secondary);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card-contato img {
    width: clamp(25px, 8vw, 45px);
}


/* === FOOTER === */
footer {
    margin-top: 4rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary);
}

.linha {
    width: 60px;
    height: 3px;
    background-color: var(--secondary);
    margin-bottom: 1rem;
    border-radius: 2px;
}

footer p {
    font-family: var(--font-primary);
    color: var(--tertiary);
    font-weight: 600;
    font-size: clamp(0.6rem, 2.5vw, 0.75rem);
    margin: 0;
}