@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1E1E1E;
}

/* === HEADER === */

header {
    padding: 1rem;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


header nav ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #F54266;
    font-weight: 600;
    font-size: 5vw;
}

/* === SEÇÃO HERO === */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.hero-imagem img {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    object-position: top center;
    border: solid 1.5px #424242;
}

.hero-text h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 5vw;
    color: #E1F2FE;
    cursor: default;
}

.btn-cv {
    display: flex;
    text-decoration: none;
    background-color: #94A3B8;
    color: #1E1E1E;
    font-family: 'Inter', sans-serif;
    width: 25vw;
    height: 10vw;
    border-radius: 20px;
    font-size: 2.5vw;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* === SEÇÃO SOBRE MIM === */

#sobre {
    padding: 0 1rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-sobre-text {
    margin: 15px;
}

.sobre-title p {
    color: #F54266;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 4vw;
}

.sobre-text p {
    color: #E1F2FE;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 4vw;
}

.sobre-imagem {
    position: relative;
    width: 40vw;
    height: 40vw;
}

.imagem-hover {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.imagem-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.4);
}

.foto-hover {
    opacity: 0;
}

.imagem-hover.ativa .foto-hover {
    opacity: 1;
}

.imagem-hover.ativa .foto-base {
    opacity: 0;
}


/* === SEÇÃO TECNOLOGIAS === */

#tecnologias {
    margin-top: 100px;
    padding: 0 1rem;
}

.cards-tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: solid 3px #F54266;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.card .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card .title p {
    font-family: 'Poppins', sans-serif;
    color: #E1F2FE;
    font-size: 4.5vw;
    font-weight: 700;
}

.card .descricao p {
    font-family: 'Poppins', sans-serif;
    color: #E1F2FE;
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
}

.card .title img {
    width: 9vw;
    height: auto;
}

.card .icons img {
    width: 10vw;
    height: auto;
    margin-bottom: 10px;
}

.card .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}



/* === SEÇÃO PROJETOS === */

#projetos {
    margin-top: 100px;
    padding: 0 1rem;
}

.imagem-projetos-erro {
    display: flex;
    justify-content: center;

}

.imagem-projetos-erro img {
    width: 100%;
    height: auto;
}


/* === SEÇÃO CONTATO === */

#contato {
    margin-top: 100px;
    padding: 0 1rem;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.card-contato {
    width: 25vw;
    height: 20vw;
    background-color: #F54266;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.3);
}

.card-contato img {
    width: 10vw;
    height: 10vw;
}


/* === FOOTER === */

footer {
    margin-top: 5rem;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
}

.linha {
    width: 100%;
    height: 1.5px;
    background-color: #F54266;
}

footer p {
    font-family: 'Poppins', sans-serif;
    color: #E1F2FE;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: auto;
    margin-bottom: auto;
}


/* === RESPONSIVIDADE === */

/*  -- LARGURA 550PX -- */

/* HEADER */

@media (min-width: 550px) {

    header nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    header nav ul li a {
        font-size: 3vw;
    }
}

/* SEÇÃO HERO */

@media (min-width: 550px) {

    .hero {
        justify-content: space-around;
    }

    .hero-text h1 {
        font-size: 4.5vw;
    }

    .btn-cv {
        width: 20vw;
        height: 7vw;
        font-size: 2vw;
    }

    .hero-imagem img {
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        display: block;
        object-fit: cover;
        object-position: top center;
        border: solid 1.5px #424242;
    }
}

/* SEÇÃO SOBRE MIM */

@media (min-width: 550px) {

    #sobre {
        flex-direction: row;
        justify-content: space-around;
    }

    .sobre-imagem {
        position: relative;
        width: 22vw;
        height: 22vw;
    }

    .sobre-title p {
        font-size: 3vw;
    }

    .sobre-text p {
        font-size: 2vw;
        max-width: 435px;
    }
}

/* SEÇÃO TECNOLOGIAS */

@media (min-width: 550px) {

    .card {
        width: 40%;
        height: auto;
        padding: 20px;
    }

    .card .title p {
        font-size: 2.5vw;
    }

    .card .descricao p {
        font-size: 1.8vw;
    }

    .card .title img {
        width: 3vw;
        height: auto;
    }

    .card .icons img {
        width: 4.5vw;
        height: auto;
    }
}

/* SEÇÃO PROJETOS */

@media(min-width: 550px) {

    .imagem-projetos-erro img {
        width: 80%;
        height: auto;
    }
}

/* SEÇÃO CONTATO */

@media(min-width: 550px) {

    .container-card {
        justify-content: center;
        gap: 50px;
    }

    .card-contato {
        width: 15vw;
        height: 13vw;
    }

    .card-contato img {
        width: 6vw;
        height: 6vw;
    }
}





/*  -- LARGURA 768PX -- */

/* HEADER */

@media (min-width: 768px) {

    header nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    header nav ul li a {
        font-size: 2.5vw;
    }
}

/* SEÇÃO HERO */

@media (min-width: 768px) {

    .hero-text h1 {
        font-size: 4vw;
    }

    .btn-cv {
        width: 17vw;
        height: 6vw;
        font-size: 1.8vw;
    }

    .hero-imagem img {
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        display: block;
        object-fit: cover;
        object-position: top center;
        border: solid 1.5px #424242;
    }
}

/* SEÇÃO SOBRE MIM */

@media (min-width: 768px) {

    #sobre {
        flex-direction: row;
        justify-content: space-around;
    }

    .sobre-imagem {
        position: relative;
        width: 18vw;
        height: 18vw;
    }

    .sobre-title p {
        font-size: 2.5vw;
    }

    .sobre-text p {
        font-size: 1.8vw;
        max-width: 625px;
    }
}

/* SEÇÃO TECNOLOGIAS */

@media(min-width: 768px) {

    .card {
        width: 30%;
        height: auto;
        padding: 20px;
        gap: 10px;
    }

    .card .title p {
        font-size: 2vw;
    }

    .card .descricao p {
        font-size: 1.2vw;
    }

    .card .title img {
        width: 3vw;
        height: auto;
    }

    .card .icons img {
        width: 4vw;
        height: auto;
    }

}

/* SEÇÃO PROJETOS */

@media(min-width: 768px) {

    .imagem-projetos-erro img {
        width: 80%;
        height: auto;
    }
}

/* SEÇÃO CONTATO */

@media(min-width: 768px) {

    .container-card {
        justify-content: center;
        gap: 50px;
    }

    .card-contato {
        width: 20vw;
        height: 13vw;
    }

    .card-contato img {
        width: 6vw;
        height: 6vw;
    }
}





/*  -- LARGURA 1024PX -- */

/* HEADER */

@media (min-width: 1024px) {

    header nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 100px;
    }

    header nav ul li a {
        position: relative;
        font-size: 1.5rem;
    }

    header nav ul li a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: #F54266;
        transition: width 0.3s ease;
    }

    header nav ul li a:hover::after {
        width: 100%;
    }
}

/* SEÇÃO HERO */

@media (min-width: 1024px) {

    .hero-imagem {
        max-width: 200px;
        width: 100%;
    }

    .hero-imagem img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        display: block;
        object-fit: cover;
        object-position: top center;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .btn-cv {
        max-width: 150px;
        max-height: 60px;
        font-size: 1rem;
        transition: transform 0.4s ease;
    }

    .btn-cv:hover {
        transform: translateY(-2px);
    }
}

/* SEÇÃO SOBRE MIM */

@media (min-width: 1024px) {

    #sobre {
        justify-content: space-evenly;
    }

    .sobre-title p {
        font-size: 1.5rem;
    }

    .sobre-text p {
        font-size: 1.5rem;
        max-width: 800px;
    }

    .sobre-imagem {
        position: relative;
        width: 200px;
        height: 200px;
    }

    .imagem-hover {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .imagem-hover img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .foto-hover {
        opacity: 0;
    }

    .imagem-hover:hover .foto-hover {
        opacity: 1;
    }

    .imagem-hover:hover .foto-base {
        opacity: 0;
    }
}

/* SEÇÃO TECNOLOGIAS */

@media (min-width: 1024px) {

    .cards-tecnologias {
        gap: 50px;
    }

    .card {
        width: 30%;
        max-width: 300px;
        padding: 20px;
        gap: 50px;
    }

    .card .title p {
        font-size: 1.2rem;
    }

    .card .descricao p {
        font-size: 0.8rem;
    }

    .card .title img {
        width: 2rem;
        height: auto;
    }

    .card .icons img {
        width: 3rem;
        height: auto;
    }
}

/* SEÇÃO PROJETOS */

@media(min-width: 1024px) {

    .imagem-projetos-erro img {
        max-width: 850px;
    }
}

/* SEÇÃO CONTATO */

@media(min-width: 1024px) {

    .container-card {
        justify-content: center;
        gap: 125px;
    }

    .card-contato {
        width: 20vw;
        height: 13vw;
        max-width: 200px;
        max-height: 150px;
        box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
    }

    .card-contato:hover {
        transform: translateY(-5px);
    }

    .card-contato img {
        width: 3.5rem;
    }
}