/* Importando Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* == VARIÁVEIS GLOBAIS == */

:root {
    --primary: #1E1E1E;
    --secondary: #F54266;
    --tertiary: #E1F2FE;
    --button: #94A3B8;

    /* FONTES */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
}

/* === HEADER === */
header {
    padding: 2rem;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

header nav ul li a {
    font-family: var(--font-primary);
    padding: 0.5rem 2rem;
    color: var(--secondary);
    font-weight: 600;
    font-size: 1.5rem;
}


/* === SEÇÃO INTRO === */
.intro {
    display: flex;
    align-items: center;
    gap: 1rem;      
    margin: 2rem 3rem;          
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.intro-text h1 {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tertiary);
    white-space: nowrap;
}

.btn-cv {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--button);
    color: var(--primary);
    font-family: var(--font-secondary);
    padding: 0.6rem 1rem;
    border-radius: 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    width: max-content;
}

/* Imagem */
.intro-imagem {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.intro-imagem img {
    width: 20vw;
    max-width: 180px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    border: 1.5px solid #424242;
    margin-right: 0.5rem;
}


/* === SEÇÃO SOBRE MIM === */
#sobre {
    padding: 1rem 2rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section-sobre-text {
    max-width: 600px;
}

.sobre-title p {
    color: var(--secondary);
    font-family: var(--font-secondary);
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.sobre-text p {
    color: var(--tertiary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

/* --- Imagem --- */
.sobre-imagem {
    width: 30vw;
    max-width: 220px;  
    aspect-ratio: 1/1;
}

.imagem-hover {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.imagem-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: opacity .4s ease;
    box-shadow: 0 4px 14px rgba(0,0,0,0.3);
}

.foto-hover {
    opacity: 0;
}

.imagem-hover.ativa .foto-hover {
    opacity: 1;
}

.imagem-hover.ativa .foto-base {
    opacity: 0;
}


/* === SEÇÃO TECNOLOGIAS === */
#tecnologias {
    padding: 2rem 1.5rem;
}

.cards-tecnologias {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border: 2px solid var(--secondary);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.card .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card .title p {
    font-family: var(--font-primary);
    color: #E1F2FE;
    font-size: 1.2rem;
    font-weight: 600;
}

.card .descricao p {
    font-family: var(--font-primary);
    color: var(--tertiary);
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}

.card .title img {
    width: 5vw;
    max-width: 40px;
}

.card .icons img {
    width: 7vw;
    max-width: 50px;
    margin-bottom: 10px;
}

.card .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}


/* === SEÇÃO CONTATO === */
#contato {
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
}

.card-contato {
    width: clamp(60px, 20vw, 120px);
    height: clamp(60px, 15vw, 90px);
    background-color: var(--secondary);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card-contato img {
    width: clamp(30px, 8vw, 50px);
}


/* === FOOTER === */
footer {
    margin-top: 4rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary);
}

.linha {
    width: 60px;
    height: 3px;
    background-color: var(--secondary);
    margin-bottom: 1rem;
    border-radius: 2px;
}

footer p {
    font-family: var(--font-primary);
    color: var(--tertiary);
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0;
}